.card{

    background:rgb(0, 0, 0);
    padding:20px;
    border-radius:12px;
    text-align:center;
    box-shadow:0 0 10px gray;

}

.avatar{

    width:70px;
    height:70px;
    border-radius:50%;
    background:#2196f3;
    color:rgb(0, 0, 0);

    display:flex;
    justify-content:center;
    align-items:center;

    margin:auto;

    font-size:24px;
    font-weight:bold;

}

button{

    margin-top:10px;
    padding:10px 15px;
    border:none;
    border-radius:8px;
    cursor:pointer;

    background:#2196f3;
    color:white;

}