* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #fefbff, #eceaa6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  width: 100%;
  max-width: 700px;
  text-align: center;
}

/* Target UI Badge */

.badge {
  display: inline-block;
  background: #0820f7;
  color: white;
  padding: 8px 20px;
  border-radius: 30px;
  font-size: 13px;
  font-family: Arial, sans-serif;
  margin-bottom: 30px;
  box-shadow: 0 8px 20px rgba(0,0,0,.15);
}

.badge span{
  color:#9c73fb;
  font-weight:bold;
}

/* Heading */

h1{
  font-size:42px;
  color:#1409eb;
  margin-bottom:10px;
}

.sub{
  font-family:monospace;
  color:#0e1201;
  margin-bottom:35px;
}

/* Quote Card */

.quote-card{
  width:100%;
  max-width:620px;
  margin:0 auto 35px;
  background:white;
  padding:40px;
  border-radius:14px;
  box-shadow:0 10px 30px rgba(99,102,241,.18);
}

.quote-text{
  font-size:31px;
  font-style:italic;
  font-weight:bold;
  color:#333;
  line-height:1.6;
}

.quote-author{
  margin-top:25px;
  color:#046b74;
  font-size:22px;
  font-weight:bold;
}

/* Button */

button{
  background:#51ec56;
  color:rgb(11, 21, 23);
  border:none;
  border-radius:8px;
  padding:15px 35px;
  font-size:17px;
  font-weight:bold;
  cursor:pointer;
  transition:.3s;
  box-shadow:0 10px 20px rgba(99,102,241,.30);
}

button:hover{
  background:#4f46e5;
  transform:translateY(-2px);
}

button:disabled{
  opacity:.7;
  cursor:not-allowed;
}

/* Error */

.error{
  color:red;
  margin-bottom:20px;
}