.form-box{

    width:400px;

    margin:40px auto;

    padding:20px;

    background:white;

    border-radius:10px;

    box-shadow:0 0 10px gray;

}

input{

    width:100%;

    padding:10px;

    margin:10px 0;

    font-size:16px;

    box-sizing:border-box;

}

pre{

    background:#f4f4f4;

    padding:10px;

    border-radius:8px;

    margin-top:20px;

    text-align:left;

    overflow:auto;

}