.form-control,
.form-select{
padding:12px;
border-radius:10px;
border:1px solid #ddd;
}

.form-control:focus,
.form-select:focus{
box-shadow:none;
border-color:#2563eb;
}

.btn-success{
background:#16a34a;
border:none;
border-radius:10px;
padding:12px;
}

.btn-success:hover{
background:#15803d;
}